@import "tailwindcss";

body, html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}


.dancing-script {
  font-family: 'Dancing Script', cursive;
}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
